.id-5713188 > .badge-box > i.bdg {
    background-image: url("https://nightbloo.github.io/custom-badges/rosebouncy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.id-6425524 > .badge-box > i.bdg {
    background-image: url("https://nightbloo.github.io/custom-badges/wolf.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.id-6760917 > .badge-box > i.bdg {
    background-image: url("https://nightbloo.github.io/custom-badges/melon.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.id-5591063 > .badge-box > i.bdg {
    background-image: url("https://nightbloo.github.io/custom-badges/zen.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.id-3300589 > .badge-box > i.bdg {
    background-image: url("https://nightbloo.github.io/custom-badges/tei.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.id-6288281 > .badge-box > i.bdg {
    background-image: url("https://nightbloo.github.io/custom-badges/snaky.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.id-5767704 > .badge-box > i.bdg {
    background-image: url("https://nightbloo.github.io/custom-badges/Dyroo.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.id-4178820 > .badge-box > i.bdg {
    background-image: url("https://nightbloo.github.io/custom-badges/leaf.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.id-5502961 > .badge-box > i.bdg {
    background-image: url("https://nightbloo.github.io/custom-badges/law.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.id-6487174 > .badge-box > i.bdg {
    background-image: url("https://nightbloo.github.io/custom-badges/gary.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
