+/* Custom Badges In Rollover */
+/* Rose */
+#user-rollover.id-5713188 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/rosebouncy.gif");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}

+/* CookieMichal */
+#user-rollover.id-3819880 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/Cookie.gif");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}

+/* Denamir */
+#user-rollover.id-6042535 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/Dena.png");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}

+/* Eyepatch Kaneki */
+#user-rollover.id-6673477 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/Kenpa.png");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}

+/* ItsClutch */
+#user-rollover.id-7768306 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/Clu.gif");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}

+/* K?pp? Bo? */
+#user-rollover.id-6011708 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/kappabot.png");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}

+/* KelticTemplar */
+#user-rollover.id-5151686 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/kelt.gif");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}

+/* KrDemoz */
+#user-rollover.id-7804003 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/krd.gif");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}
+

+/* Larry */
+#user-rollover.id-6425524 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/wolf.gif");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}

+/* Le Toucan */
+#user-rollover.id-4193885 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/toucan.gif");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}

+/* QBN */
+#user-rollover.id-6518702 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/qbn.gif");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}

+/* SaltyMelon */
+#user-rollover.id-6760917 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/melon.gif");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}

+/* Zenopie */
+#user-rollover.id-5591063 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/zen.gif");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}

+/* TEI_Staff */
+#user-rollover.id-3300589 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/tei.jpg");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}

+/* Snaky */
+#user-rollover.id-6288281 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/snaky.gif");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}

+/* Domadness */
+#user-rollover.id-6385488 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/Dom.png");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}

+/* Dyroo */
+#user-rollover.id-5767704 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/dyroo.gif");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}

+/* Leaf */
+#user-rollover.id-4178820 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/leaf.gif");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}

+/* Law */
+#user-rollover.id-5502961 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/law.gif");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}

+/* Mynameisgary */
+#user-rollover.id-6487174 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/gary.gif");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}

+/* Oxmores */
+#user-rollover.id-6555123 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/wolf.gif");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}

+/* Pikachu */
+#user-rollover.id-6630381 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/pikachu.gif");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}

+/* DREKEN */
+#user-rollover.id-3632408 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/dreken.gif");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}

+/* Rarkh */
+#user-rollover.id-6728157 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/rarkh.jpg");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}

+/* JakubumaCZ */
+#user-rollover.id-3987280 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/jakubumacz.gif");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}

+/* Cresceda */
+#user-rollover.id-11591037 .badge-box > i.bdg
+{
+    background-image:    url("https://nightbloo.github.io/custom-badges/Cresceda.png");
+    background-size:     cover;
+    background-repeat:   no-repeat;
+    background-position: center center;
+}



/* Custom Badges */
/* Rose */
.id-5713188 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/rosebouncy.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* CookieMichal */
.id-3819880 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/Cookie.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Denamir */
.id-6042535 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/Dena.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Eyepatch Kaneki */
.id-6673477 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/Kenpa.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* ItsClutch */
.id-7768306 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/Clu.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Káppá Bo? */
.id-6011708 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/kappabot.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* KelticTemplar */
.id-5151686 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/kelt.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* KrDemoz */
.id-7804003 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/krd.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}


/* Larry */
.id-6425524 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/wolf.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Le Toucan */
.id-4193885 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/toucan.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* QBN */
.id-6518702 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/qbn.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* SaltyMelon */
.id-6760917 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/melon.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Zenopie */
.id-5591063 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/zen.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* TEI_Staff */
.id-3300589 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/tei.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Snaky */
.id-6288281 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/snaky.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Domadness */
.id-6385488 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/Dom.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Dyroo */
.id-5767704 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/dyroo.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Leaf */
.id-4178820 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/leaf.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Law */
.id-5502961 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/law.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Mynameisgary */
.id-6487174 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/gary.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Oxmores */
.id-6555123 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/wolf.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Pikachu */
.id-6630381 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/pikachu.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* DREKEN */
.id-3632408 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/dreken.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Rarkh */
.id-6728157 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/rarkh.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* JakubumaCZ */
.id-3987280 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/jakubumacz.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Cresceda */
.id-11591037 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/custom-badges/Cresceda.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Custom Icons */
/* Rose */
.id-5713188 > .msg > .from > i.icon-chat-subscriber
{
    background: url("https://nightbloo.github.io/icons/subrose.png") !important;
}

/* DREKEN */
.id-3632408 > .msg > .from > i.icon-chat-subscriber
{
    background: url("https://nightbloo.github.io/icons/dreke.png") no-repeat !important;
}

/* Pikachu */
.id-6630381 > .msg > .from > i.istranslator
{
    background: url("https://nightbloo.github.io/icons/pika.png") no-repeat !important;
}

.id-6630381 > .msg > .from > i.icon-chat-subscriber
{
    background: url("https://nightbloo.github.io/icons/pika2.png") no-repeat !important;
}

.id-6630381:not(.rsshit) > .msg > .from:before 
{
   content: url("https://nightbloo.github.io/icons/bouncer.png") !important;
}

.id-6630381 > .msg > .from > i.icon-chat-bouncer
{
    background: url("https://nightbloo.github.io/icons/pika3.png") no-repeat !important;
}

/* Law */
.id-5502961:not(.rsshit) > .msg > .from:before 
{
    content: url("https://nightbloo.github.io/icons/manager.png") !important;
}

.id-5502961 > .msg > .from > i.icon-chat-manager
{
    background: url("https://nightbloo.github.io/icons/lawhate.png") no-repeat !important;
}

/* Domadness */
.id-6385488 > .msg > .from > i.icon-chat-bouncer
{
    background: url("https://nightbloo.github.io/icons/dom.png") no-repeat !important;
}

/* Le Toucan */
.id-4193885 > .msg > .from > i.icon-chat-subscriber
{
    background: url("https://nightbloo.github.io/icons/toucan.png") no-repeat !important;
}

/* KevinsBot */
.id-10073209 > .msg > .from > i.icon-chat-manager
{
    background: url("https://nightbloo.github.io/icons/bot.png") no-repeat !important;
}

#user-lists .list.room .user.id-10073209 .icon-chat-manager
{
    background: url("https://nightbloo.github.io/icons/bot.png") no-repeat !important;
}

#waitlist .list .user.id-10073209 .name .icon-chat-manager
{
    background: url("https://nightbloo.github.io/icons/bot.png") no-repeat !important;
}

/* Grab, woot, meh buttons */
#woot i.icon
{
    background-image:    url("https://nightbloo.github.io/icons/woot.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#grab i.icon
{
    background-image:    url("https://nightbloo.github.io/icons/grab.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#meh i.icon
{
    background-image:    url("https://nightbloo.github.io/icons/meh.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Extra non-important stuff */
.id-5767704:hover span.un.clickable
{
    transform:  rotate3d(7, 20, 9, 360deg);
    transition: all 3s cubic-bezier(0.31, 0, 0.11, 1);
}

.id-5767704 span.un.clickable
{
    transition: all 1s linear;
}

.id-5767704:hover > .msg > .from > i.icon-chat-manager
{
    transform:  rotateZ(180deg);
    transition: all 1s linear;
}

.id-5767704 > .msg > .from > i.icon-chat-manager
{
    transition: all 1s linear;
}

/* The law giveth, the law taketh */
.id-5502961:hover span.un.clickable
{
    transform:   rotate3d(8, 1, 5, 360deg);
    margin-left: 5px;
    text-shadow: 1px 1px 20px darkred, 0 0 80px orange, 0 0 40px red;
    transition:  text-shadow 0.5s 1.7s, transform 2s linear, margin-left 1.5s;
}

.id-5502961 span.un.clickable
{
    transition: all 1s linear;
}

.id-5502961:hover > .msg > .from > i.icon-chat-manager
{
    transform:   rotateZ(-270deg);
    margin-left: 5px;
    transition:  all 1s linear;
}

.id-5502961 > .msg > .from > i.icon-chat-manager
{
    transition: all 1s linear;
}

/* HerpDerp */

.message.role-rdj,
.emote.role-rdj
{
    border-left:  #33CCFF 2px dotted;
    border-right: #33CCFF 2px dotted;
}

.message.role-rdj:hover,
.emote.role-rdj:hover
{
    border-left-style:  solid;
    border-right-style: solid;
}

.message.role-manager,
.emote.role-manager,
.message.role-bouncer,
.emote.role-bouncer
{
    border-left:  #3083FF 2px dotted;
    border-right: #3083FF 2px dotted;
}

.message.role-manager:hover,
.emote.role-manager:hover,
.message.role-bouncer:hover,
.emote.role-bouncer:hover
{
    border-left-style:  solid;
    border-right-style: solid;
}

.message.role-cohost,
.emote.role-cohost
{
    border-left:  #FF007F 2px dotted;
    border-right: #FF007F 2px dotted;
}

.message.role-cohost:hover,
.emote.role-cohost:hover,
{
    border-left-style:  solid;
    border-right-style: solid;
}

.message.role-host.emote.role-host
{
    border-left:  #FF007F 2px dotted;
    border-right: #FF007F 2px dotted;
}

.message.role-host:hover,
.emote.role-host:hover
{
    border-left-style:  solid;
    border-right-style: solid;
}

.message.role-host > .msg > .text::selection,
.emote.role-host > .msg > .text::selection,
.message.role-host > .msg > .text::-moz-selection,
.emote.role-host > .msg > .text::-moz-selection
{
    color: #FF007F;
}

.message.role-cohost > .msg > .text::selection,
.emote.role-cohost > .msg > .text::selection,
.message.role-cohost > .msg > .text::-moz-selection,
.emote.role-cohost > .msg > .text::-moz-selection
{
    color: #FF007F;
}

.message.role-manager > .msg > .text::selection,
.emote.role-manager > .msg > .text::selection,
.message.role-manager > .msg > .text::-moz-selection,
.emote.role-manager > .msg > .text::-moz-selection
{
    color: #3083FF;
}

.message.role-bouncer > .msg > .text::selection,
.emote.role-bouncer > .msg > .text::selection,
.message.role-bouncer > .msg > .text::-moz-selection,
.emote.role-bouncer > .msg > .text::-moz-selection
{
    color: #3083FF;
}

.message.role-rdj > .msg > .text::selection,
.emote.role-rdj > .msg > .text::selection,
.message.role-rdj > .msg > .text::-moz-selection,
.emote.role-rdj > .msg > .text::-moz-selection
{
    color: #33CCFF;
}

.message.role-user > .msg > .text::selection,
.emote.role-user > .msg > .text::selection,
.message.role-user > .msg > .text::-moz-selection,
.emote.role-user > .msg > .text::-moz-selection
{
    color: #777f92;
}
