/* Video to the right */
#main-room:not(.fullscreenParent)
{
    float: right;
}

#main-room:not(.fullscreenParent) .left_section
{
    margin-top: 0;
    width:      40%;
    float:      right;
}

#main-room:not(.fullscreenParent) #main_player
{
    padding: 0.5em .4em .5em .5em
}

#main-room:not(.fullscreenParent) #main_player .player_container
{
    height: 14.8em;
}

#main-room:not(.fullscreenParent) #main_player .player_container .hideVideo-el
{
    display: none;
}

#main-room:not(.fullscreenParent) #main_player .player_container .loading
{
    width: 33%;
}

#main-room:not(.fullscreenParent) #main_player .player_container .hideVideo-el
{
    left:        initial;
    right:       0;
    padding-top: 6px;
}
