@import url("https://nightbloo.github.io/plug/badges.css");
@import url("https://nightbloo.github.io/plug/vip.css");

/* ----------------------------------------Main---------------------------------------- */
#room .app-header,
#app-menu,
#app-menu .list,
#footer,
#history-button {
    background: #000000;
}

#app-menu .list,
#app-menu .list a,
#app-menu .list a:visited {
    color: #ffffff;
}

#room-bar .icon-room {
    top: 2px;
    left: 5px;
    width: 45px;
    height: 50px;
    background-size: contain !important;
}

#room-host,
#room-name {
    left: 54px;
}

/* Icon fix :before */
div.message > div.msg > div.from > span.un {
    vertical-align: top;
    horizontal-align: left;
}

/* Buttons */
#history-button,
#rs-skip-button {
    background: #000000 !important;
}

#woot i.icon,
#grab i.icon,
#meh i.icon {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#woot i.icon {
    background-image: url("https://nightbloo.github.io/plug/icons/woot.png");
}

#grab i.icon {
    background-image: url("https://nightbloo.github.io/plug/icons/grab.png");
}

#meh i.icon {
    background-image: url("https://nightbloo.github.io/plug/icons/meh.png");
}

/* ----------------------------------------Chat---------------------------------------- */
#chat .welcome {
    color: #27b2e9;
    border-top: #27b2e9 2px dotted;
    border-left: #27b2e9 2px dotted;
    border-bottom: #27b2e9 2px dotted;
    border-right: #27b2e9 2px dotted;
}

#chat .log {
    background: rgba(20, 25, 34, 0.78) !important;
    box-shadow: 0 0 0 1px #19222d;
}

#chat .mention .msg {
    background: linear-gradient(135deg,rgb(5, 34, 113) 0%,rgba(19, 67, 138, 0.58) 13%,rgb(0, 0, 0) 100%) !important;
}

#waitlist .is-promoter .name,
#user-lists .is-promoter .name,
#chat .from.promoter .un {
    color: #90b7af;
}

#waitlist .is-plot .name,
#user-lists .is-plot .name,
#chat .from.plot .un {
    color: #deb38d;
}

/* Fade */
#chat .cm {
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

#chat .emote,
#chat .mention,
#chat .message,
#chat .moderation,
#chat .skip,
#chat .system,
#chat .update,
#chat .welcome {
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

/* Inline */
#chat .emote {
    min-height: 0px !important;
    background: rgba(34, 44, 62, 0.78) !important;
}

.emote .msg .text {
    display: inline !important;
    padding-left: 2px !important;
}

.emote .from .un {
    font-style: oblique;
}

.emote.role-dj .text {
    color: #33CCFF;
}

.emote.role-bouncer .text {
    color: #3083FF;
}

.emote.role-manager .text {
    color: #AC76FF;
}

.emote.role-cohost .text {
    color: #CC3333;
}

.emote.role-host .text {
    color: #F2693E;
}

.emote.role-ambassador .text {
    color: #89BE6C;
}

#chat .cm:nth-child(2n+1) {
    background-color: #0d0f13;
}

#chat .cm.emote .icon,
#chat .cm.emote .badge-box,
.emote .rs-chat-title,
.emote .rcs-user-info {
    display: none !important;
}

#chat .emote .contents,
.emote .msg .from,
.emote .msg .text {
    display: inline !important;
}

.emote .msg {
    padding: 6px 6px 6px 16px !important;
}

.emote .delete-button {
    padding: 2px 7px 2px 7px !important;
}

/* Border */
.message.role-dj,
.emote.role-dj {
    border-left: #33CCFF 2px dotted;
    border-right: #33CCFF 2px dotted;
}

.message.role-bouncer,
.emote.role-bouncer {
    border-left: #3083FF 2px dotted;
    border-right: #3083FF 2px dotted;
}

.message.role-manager,
.emote.role-manager {
    border-left: #AC76FF 2px dotted;
    border-right: #AC76FF 2px dotted;
}

.message.role-cohost,
.emote.role-cohost {
    border-left: #CC3333 2px dotted;
    border-right: #CC3333 2px dotted;
}

.message.role-host,
.emote.role-host {
    border-top: #F2693E 2px dotted;
    border-left: #F2693E 2px dotted;
    border-bottom: #F2693E 2px dotted;
    border-right: #F2693E 2px dotted;
}

.message.role-ambassador,
.emote.role-ambassador {
    border-left: #89BE6C 2px dotted;
    border-right: #89BE6C 2px dotted;
}

.message.role-dj:hover,
.emote.role-dj:hover,
.message.role-bouncer:hover,
.emote.role-bouncer:hover,
.message.role-manager:hover,
.emote.role-manager:hover,
.message.role-cohost:hover,
.emote.role-cohost:hover,
.message.role-host:hover,
.emote.role-host:hover,
.message.role-ambassador:hover,
.emote.role-ambassador:hover {
    border-left-style: solid;
    border-right-style: solid;
}

.message.role-host:hover,
.emote.role-host:hover {
    border-top-style: solid;
    border-bottom-style: solid;
}

.message.role-host .msg .text::selection,
.emote.role-host .msg .text::selection,
.message.role-host .msg .text::-moz-selection,
.emote.role-host .msg .text::-moz-selection {
    color: #F46B40;
}

.message.role-cohost .msg .text::selection,
.emote.role-cohost .msg .text::selection,
.message.role-cohost .msg .text::-moz-selection,
.emote.role-cohost .msg .text::-moz-selection {
    color: #C42E3B;
}

.message.role-manager .msg .text::selection,
.emote.role-manager .msg .text::selection,
.message.role-manager .msg .text::-moz-selection,
.emote.role-manager .msg .text::-moz-selection {
    color: #AC76FF;
}

.message.role-bouncer .msg .text::selection,
.emote.role-bouncer .msg .text::selection,
.message.role-bouncer .msg .text::-moz-selection,
.emote.role-bouncer .msg .text::-moz-selection {
    color: #3083FF;
}

.message.role-dj .msg .text::selection,
.emote.role-dj .msg .text::selection,
.message.role-dj .msg .text::-moz-selection,
.emote.role-dj .msg .text::-moz-selection {
    color: #33CCFF;
}

.message.role-user .msg .text::selection,
.emote.role-user .msg .text::selection,
.message.role-user .msg .text::-moz-selection,
.emote.role-user .msg .text::-moz-selection {
    color: #777f92;
}

/* Custom */
#user-rollover.id-4093788 .username:hover,
#chat [data-cid^="4093788-"] span.un.clickable:hover {
    animation: rainbow 10s infinite;
}

/* -------------------------------------Animations------------------------------------- */
/* Chat Fade */
@keyframes fadein
{
    from { opacity: 0; };
    to { opacity: 1; };
}

@-moz-keyframes fadein
{
    from { opacity: 0; };
    to { opacity: 1; };
}

@-webkit-keyframes fadein
{
    from { opacity: 0; };
    to { opacity: 1; };
}

@-ms-keyframes fadein
{
    from { opacity: 0; };
    to { opacity: 1; };
}

@-o-keyframes fadein
{
    from { opacity: 0; };
    to { opacity: 1; };
}

/* Chat Custom */
@keyframes rainbow {
    0% { color: #ff0000; }
    10% { color: #ff8000; }
    20% { color: #ffff00; }
    30% { color: #80ff00; }
    40% { color: #00ff00; }
    50% { color: #00ff80; }
    60% { color: #00ffff; }
    70% { color: #0080ff; }
    80% { color: #0000ff; }
    90% { color: #8000ff; }
    100% { color: #ff0080; }
}
