/* Custom Badges In Rollover */

/* Domadness */
#user-rollover.id-6385488 .badge-box > i.bdg
{
    border-radius:       6px;
    background-image:    url("https://nightbloo.github.io/plug/custom-badges/Dom.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Leaf */
#user-rollover.id-4178820 .badge-box > i.bdg
{
    border-radius:       6px;
    background-image:    url("https://nightbloo.github.io/plug/custom-badges/leaf.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Laquett */
#user-rollover.id-4093788 .badge-box > i.bdg
{
    border-radius:       6px;
    background-image:    url("https://nightbloo.github.io/plug/custom-badges/laquett.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#user-rollover.id-4093788 .username:hover,
#chat [data-cid^="4093788-"] span.un.clickable:hover {
animation:rainbow 10s infinite;
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}

/* NB3 */
#user-rollover.id-6363341 .badge-box > i.bdg
{
    border-radius:       6px;
    background-image:    url("https://nightbloo.github.io/plug/custom-badges/nb3.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* S4nari */
#user-rollover.id-3828485 .badge-box > i.bdg
{
    border-radius:       6px;
    background-image:    url("https://nightbloo.github.io/plug/custom-badges/s4nari.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Custom Badges */

/* Domadness */
.id-6385488 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/plug/custom-badges/Dom.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Leaf */
.id-4178820 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/plug/custom-badges/leaf.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Laquett */
.id-4093788 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/plug/custom-badges/laquett.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* NB3 */
.id-6363341 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/plug/custom-badges/nb3.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* S4nari */
.id-3828485 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/plug/custom-badges/s4nari.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Custom Icons */

/* Icon fix :before */
div.message > div.msg > div.from > span.un
{
    vertical-align:   top;
    horizontal-align: left;
}

/* Domadness */

.id-6385488 > .msg > .from > i.icon-chat-subscriber
{
    background: url("https://nightbloo.github.io/plug/icons/dom.png") no-repeat !important;
}

/* Grab, woot, meh buttons */
#woot i.icon
{
    background-image:    url("https://nightbloo.github.io/plug/icons/woot.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#grab i.icon
{
    background-image:    url("https://nightbloo.github.io/plug/icons/grab.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#meh i.icon
{
    background-image:    url("https://nightbloo.github.io/plug/icons/meh.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}


/* HerpDerp */

.message.role-dj,
.emote.role-dj
{
    border-left:  #33CCFF 2px dotted;
    border-right: #33CCFF 2px dotted;
}

.message.role-dj:hover,
.emote.role-dj:hover
{
    border-left-style:  solid;
    border-right-style: solid;
}

.message.role-bouncer,
.emote.role-bouncer
{
    border-left:  #3083FF 2px dotted;
    border-right: #3083FF 2px dotted;
}

.message.role-bouncer:hover,
.emote.role-bouncer:hover
{
    border-left-style:  solid;
    border-right-style: solid;
}

.message.role-manager,
.emote.role-manager
{
    border-left:  #AC76FF 2px dotted;
    border-right: #AC76FF 2px dotted;
}

.message.role-manager:hover,
.emote.role-manager:hover
{
    border-left-style:  solid;
    border-right-style: solid;
}

.message.role-cohost,
.emote.role-cohost
{
    border-left:  #CC3333 2px dotted;
    border-right: #CC3333 2px dotted;
}

.message.role-cohost:hover,
.emote.role-cohost:hover
{
    border-left-style:  solid;
    border-right-style: solid;
}

.message.role-host,
.emote.role-host
{
    border-top:    #F2693E 2px dotted;
    border-left:   #F2693E 2px dotted;
    border-bottom: #F2693E 2px dotted;
    border-right:  #F2693E 2px dotted;
}

.message.role-host:hover,
.emote.role-host:hover
{
    border-top-style: solid;
    border-left-style:  solid;
    border-bottom-style: solid;
    border-right-style: solid;
}

.message.role-host > .msg > .text::selection,
.emote.role-host > .msg > .text::selection,
.message.role-host > .msg > .text::-moz-selection,
.emote.role-host > .msg > .text::-moz-selection
{
    color: #F46B40;
}

.message.role-cohost > .msg > .text::selection,
.emote.role-cohost > .msg > .text::selection,
.message.role-cohost > .msg > .text::-moz-selection,
.emote.role-cohost > .msg > .text::-moz-selection
{
    color: #C42E3B;
}

.message.role-manager > .msg > .text::selection,
.emote.role-manager > .msg > .text::selection,
.message.role-manager > .msg > .text::-moz-selection,
.emote.role-manager > .msg > .text::-moz-selection
{
    color: #AC76FF;
}

.message.role-bouncer > .msg > .text::selection,
.emote.role-bouncer > .msg > .text::selection,
.message.role-bouncer > .msg > .text::-moz-selection,
.emote.role-bouncer > .msg > .text::-moz-selection
{
    color: #3083FF;
}

.message.role-dj > .msg > .text::selection,
.emote.role-dj > .msg > .text::selection,
.message.role-dj > .msg > .text::-moz-selection,
.emote.role-dj > .msg > .text::-moz-selection
{
    color: #33CCFF;
}

.message.role-user > .msg > .text::selection,
.emote.role-user > .msg > .text::selection,
.message.role-user > .msg > .text::-moz-selection,
.emote.role-user > .msg > .text::-moz-selection
{
    color: #777f92;
}

#room .app-header
{
    background: #000000;
}

#footer
{
    background: #000000;
}
