/* Custom Badges In Rollover */

/* ItsClutch */
#user-rollover.id-7768306 .badge-box > i.bdg
{
    border-radius:       6px;
    background-image:    url("https://nightbloo.github.io/plug/custom-badges/Clu.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Larry */
#user-rollover.id-6425524 .badge-box > i.bdg
{
    border-radius:       6px;
    background-image:    url("https://nightbloo.github.io/plug/custom-badges/wolf.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Snaky */
#user-rollover.id-6288281 .badge-box > i.bdg
{
    border-radius:       6px;
    background-image:    url("https://nightbloo.github.io/plug/custom-badges/snaky.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Domadness */
#user-rollover.id-6385488 .badge-box > i.bdg
{
    border-radius:       6px;
    background-image:    url("https://nightbloo.github.io/plug/custom-badges/Dom.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Leaf */
#user-rollover.id-4178820 .badge-box > i.bdg
{
    border-radius:       6px;
    background-image:    url("https://nightbloo.github.io/plug/custom-badges/leaf.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* DREKEN */
#user-rollover.id-3632408 .badge-box > i.bdg
{
    border-radius:       6px;
    background-image:    url("https://nightbloo.github.io/plug/custom-badges/dreken.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Custom Badges */

/* ItsClutch */
.id-7768306 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/plug/custom-badges/Clu.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Larry */
.id-6425524 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/plug/custom-badges/wolf.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Snaky */
.id-6288281 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/plug/custom-badges/snaky.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Domadness */
.id-6385488 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/plug/custom-badges/Dom.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Leaf */
.id-4178820 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/plug/custom-badges/leaf.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* DREKEN */
.id-3632408 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/plug/custom-badges/dreken.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* Custom Icons */

/* Icon fix :before */
div.message > div.msg > div.from > span.un
{
    vertical-align:   top;
    horizontal-align: left;
}

/* DREKEN */
.id-3632408 > .msg > .from > i.icon-chat-subscriber
{
    background: url("https://nightbloo.github.io/plug/icons/dreke.png") no-repeat !important;
}

.id-6630381:not(.rsshit) > .msg > .from:before
{
    content: url("https://nightbloo.github.io/plug/icons/manager.png") !important;
}

.id-6630381 > .msg > .from > i.icon-chat-manager
{
    background: url("https://nightbloo.github.io/plug/icons/pika2.png") no-repeat !important;
}


.id-5502961 > .msg > .from > i.icon-chat-subscriber
{
    @ @ -653, 31 +639, 7 @ @ div . message > div . msg > div . from > span . un transition : all 1 s linear;
}

/* Domadness */

.id-6385488 > .msg > .from > i.icon-chat-subscriber
{
    background: url("https://nightbloo.github.io/plug/icons/dom.png") no-repeat !important;
}

/* Le Toucan */
.id-4193885 > .msg > .from > i.icon-chat-subscriber
{
    background: url("https://nightbloo.github.io/plug/icons/toucan.png") no-repeat !important;
}

/* Grab, woot, meh buttons */
#woot i.icon
{
    background-image:    url("https://nightbloo.github.io/plug/icons/woot.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#grab i.icon
{
    background-image:    url("https://nightbloo.github.io/plug/icons/grab.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#meh i.icon
{
    background-image:    url("https://nightbloo.github.io/plug/icons/meh.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}


/* HerpDerp */

.message.role-dj,
.emote.role-dj
{
    border-left:  #33CCFF 2px dotted;
    border-right: #33CCFF 2px dotted;
}

.message.role-dj:hover,
.emote.role-dj:hover
{
    border-left-style:  solid;
    border-right-style: solid;
}

.message.role-bouncer,
.emote.role-bouncer
{
    border-left:  #3083FF 2px dotted;
    border-right: #3083FF 2px dotted;
}

.message.role-bouncer:hover,
.emote.role-bouncer:hover
{
    border-left-style:  solid;
    border-right-style: solid;
}

.message.role-manager,
.emote.role-manager
{
    border-left:  #9552cc 2px dotted;
    border-right: #9552cc 2px dotted;
}

.message.role-manager:hover,
.emote.role-manager:hover
{
    border-left-style:  solid;
    border-right-style: solid;
}

.message.role-cohost,
.emote.role-cohost
{
    border-left:  #CC3333 2px dotted;
    border-right: #CC3333 2px dotted;
}

.message.role-cohost:hover,
.emote.role-cohost:hover
{
    border-left-style:  solid;
    border-right-style: solid;
}

.message.role-host.emote.role-host
{
    border-left:  #F2693E 2px dotted;
    border-right: #F2693E 2px dotted;
}

.message.role-host:hover,
.emote.role-host:hover
{
    border-left-style:  solid;
    border-right-style: solid;
}

.message.role-host > .msg > .text::selection,
.emote.role-host > .msg > .text::selection,
.message.role-host > .msg > .text::-moz-selection,
.emote.role-host > .msg > .text::-moz-selection
{
    color: #F2693E;
}

.message.role-cohost > .msg > .text::selection,
.emote.role-cohost > .msg > .text::selection,
.message.role-cohost > .msg > .text::-moz-selection,
.emote.role-cohost > .msg > .text::-moz-selection
{
    color: #CC3333;
}

.message.role-manager > .msg > .text::selection,
.emote.role-manager > .msg > .text::selection,
.message.role-manager > .msg > .text::-moz-selection,
.emote.role-manager > .msg > .text::-moz-selection
{
    color: #9552CC;
}

.message.role-bouncer > .msg > .text::selection,
.emote.role-bouncer > .msg > .text::selection,
.message.role-bouncer > .msg > .text::-moz-selection,
.emote.role-bouncer > .msg > .text::-moz-selection
{
    color: #3083FF;
}

.message.role-dj > .msg > .text::selection,
.emote.role-dj > .msg > .text::selection,
.message.role-dj > .msg > .text::-moz-selection,
.emote.role-dj > .msg > .text::-moz-selection
{
    color: #33CCFF;
}

.message.role-user > .msg > .text::selection,
.emote.role-user > .msg > .text::selection,
.message.role-user > .msg > .text::-moz-selection,
.emote.role-user > .msg > .text::-moz-selection
{
    color: #777f92;
}
