/* VIP text in rollover */

/* Burkes */ 
#user-rollover.id-3703511 > .info > .role span:after
{
    visibility: visible;
    content:' / VIP';
}

/* Kaspae */
#user-rollover.id-26613571 > .info > .role span, 

/* Mrcl- */
#user-rollover.id-13585808 > .info > .role span
{
    visibility: hidden;
}

/* Kaspae */
#user-rollover.id-26613571 > .info > .role span:after, 

/* Mrcl- */
#user-rollover.id-13585808 > .info > .role span:after
{
    visibility: visible;
    content:'VIP';
}

/* VIP Icon */

/* Burkes */
.id-3703511 > .msg > .from > i.icon-chat-dj,
#waitlist .list .user[data-uid="3703511"] .meta.is-staff .name .icon-chat-dj, 
#user-rollover.id-3703511 > .info > .role > i.icon-chat-dj, 
#user-lists .list.room .user.id-3703511 .icon-chat-dj, 

/* Kaspae */
.id-26613571 > .msg > .from > i.icon-chat-dj,
#waitlist .list .user[data-uid="26613571"] .meta.is-staff .name .icon-chat-dj, 
#user-rollover.id-26613571 > .info > .role > i.icon-chat-dj, 
#user-lists .list.room .user.id-26613571 .icon-chat-dj, 

/* Mrcl- */
.id-13585808 > .msg > .from > i.icon-chat-dj, 
#waitlist .list .user[data-uid="13585808"] .meta.is-staff .name .icon-chat-dj, 
#user-rollover.id-13585808 > .info > .role > i.icon-chat-dj, 
#user-lists .list.room .user.id-13585808 .icon-chat-dj
{
	background: url("https://nightbloo.github.io/plug/icons/vip.png") no-repeat !important;
}

/* VIP Icon User Rollover Fix */
/* Burkes */
#user-rollover.id-3703511 > .info > .role > i.icon-chat-dj, 

/* Kaspae */
#user-rollover.id-26613571 > .info > .role > i.icon-chat-dj, 

/* Mrcl- */
#user-rollover.id-13585808 > .info > .role > i.icon-chat-dj
{
    margin-left: 60px;
    position: absolute;
}

/* VIP Color */

/* Burkes */
.id-3703511 > .msg > .from.dj > .un, 
#waitlist .list .user[data-uid="3703511"] .meta.is-staff .name .icon-chat-dj + span, 
#user-rollover.id-3703511 > .info > .role span, 
#user-rollover.id-3703511 > .meta > .username, 
#user-lists .list.room .user.id-3703511 .name, 

/* Kaspae */
.id-26613571 > .msg > .from.dj > .un, 
#waitlist .list .user[data-uid="26613571"] .meta.is-staff .name .icon-chat-dj + span, 
#user-rollover.id-26613571 > .info > .role span, 
#user-rollover.id-26613571 > .meta > .username, 
#user-lists .list.room .user.id-26613571 .name, 

/* Mrcl- */
.id-13585808 > .msg > .from.dj > .un, 
#waitlist .list .user[data-uid="13585808"] .meta.is-staff .name .icon-chat-dj + span, 
#user-rollover.id-13585808 > .info > .role span, 
#user-rollover.id-13585808 > .meta > .username, 
#user-lists .list.room .user.id-13585808 .name
{
	color: #2cc4d1 !important;
}

/* VIP Border */

/* Burkes */
#chat .cm.message.id-3703511, 
#chat .cm.emote.id-3703511,  

/* Kaspae */
#chat .cm.message.id-26613571, 
#chat .cm.emote.id-26613571,  

/* Mrcl- */
#chat .cm.message.id-13585808, 
#chat .cm.emote.id-13585808 
{
    border-left:  #2cc4d1 2px dotted;
    border-right: #2cc4d1 2px dotted;
}

/* Burkes */
#chat .cm.message.id-3703511:hover, 
#chat .cm.emote.id-3703511:hover,  

/* Kaspae */
#chat .cm.message.id-26613571:hover, 
#chat .cm.emote.id-26613571:hover, 

/* Mrcl- */
#chat .cm.message.id-13585808:hover, 
#chat .cm.emote.id-13585808:hover
{
    border-left-style:  solid;
    border-right-style: solid;
}

/* VIP Inline */

/* Burkes */
.emote.id-3703511 .text, 

/* Kaspae */
.emote.id-26613571 .text, 

/* Mrcl- */
.emote.id-13585808 .text
{
    color:  #2cc4d1;
}
