/* VIP text in rollover */

/* Kaspae */
#user-rollover.id-26613571 .info .role span,

/* killer0wave */
#user-rollover.id-27677457 .info .role span,

/* Pie */
#user-rollover.id-26073729 .info .role span {
    visibility: hidden;
}

/* Kaspae */
#user-rollover.id-26613571 .info .role span:after,

/* killer0wave */
#user-rollover.id-27677457 .info .role span:after,

/* Pie */
#user-rollover.id-26073729 .info .role span:after {
    visibility: visible;
    content: 'VIP';
}

/* Burkes */
#user-rollover.id-3703511 .info .role span:after {
    content: ' / VIP';
}

/* VIP Icon */

/* Burkes */
.id-3703511 .msg .from i.icon-chat-dj,
#waitlist .list .user[data-uid="3703511"] .meta.is-staff .name .icon-chat-dj,
#user-rollover.id-3703511 .info .role i.icon-chat-dj,
#user-lists .list.room .user.id-3703511 .icon-chat-dj,

/* Kaspae */
.id-26613571 .msg .from i.icon-chat-dj,
#waitlist .list .user[data-uid="26613571"] .meta.is-staff .name .icon-chat-dj,
#user-rollover.id-26613571 .info .role i.icon-chat-dj,
#user-lists .list.room .user.id-26613571 .icon-chat-dj,

/* killer0wave */
.id-27677457 .msg .from i.icon-chat-dj,
#waitlist .list .user[data-uid="27677457"] .meta.is-staff .name .icon-chat-dj,
#user-rollover.id-27677457 .info .role i.icon-chat-dj,
#user-lists .list.room .user.id-27677457 .icon-chat-dj,

/* Pie */
.id-26073729 .msg .from i.icon-chat-dj,
#waitlist .list .user[data-uid="26073729"] .meta.is-staff .name .icon-chat-dj,
#user-rollover.id-26073729 .info .role i.icon-chat-dj,
#user-lists .list.room .user.id-26073729 .icon-chat-dj {
    background: url("https://nightbloo.github.io/plug/icons/vip.png") no-repeat !important;
}

/* VIP Icon User Rollover Fix */

/* Burkes */
#user-rollover.id-3703511 .info .role i.icon-chat-dj,

/* Kaspae */
#user-rollover.id-26613571 .info .role i.icon-chat-dj,

/* killer0wave */
#user-rollover.id-27677457 .info .role i.icon-chat-dj,

/* Pie */
#user-rollover.id-26073729 .info .role i.icon-chat-dj {
    margin-left: 60px;
    position: absolute;
}

/* VIP Color */

/* Burkes */
.id-3703511 .msg .from.dj .un,
#waitlist .list .user[data-uid="3703511"] .meta.is-staff .name .icon-chat-dj + span,
#user-rollover.id-3703511 .info .role span,
#user-rollover.id-3703511 .meta .username,
#user-lists .list.room .user.id-3703511 .name,

/* Kaspae */
.id-26613571 .msg .from.dj .un,
#waitlist .list .user[data-uid="26613571"] .meta.is-staff .name .icon-chat-dj + span,
#user-rollover.id-26613571 .info .role span,
#user-rollover.id-26613571 .meta .username,
#user-lists .list.room .user.id-26613571 .name,

/* killer0wave */
.id-27677457 .msg .from.dj .un,
#waitlist .list .user[data-uid="27677457"] .meta.is-staff .name .icon-chat-dj + span,
#user-rollover.id-27677457 .info .role span,
#user-rollover.id-27677457 .meta .username,
#user-lists .list.room .user.id-27677457 .name,

/* Pie */
.id-26073729 .msg .from.dj .un,
#waitlist .list .user[data-uid="26073729"] .meta.is-staff .name .icon-chat-dj + span,
#user-rollover.id-26073729 .info .role span,
#user-rollover.id-26073729 .meta .username,
#user-lists .list.room .user.id-26073729 .name {
    color: #2cc4d1 !important;
}

/* VIP Border */

/* Burkes */
#chat .cm.message.id-3703511,
#chat .cm.emote.id-3703511,

/* Kaspae */
#chat .cm.message.id-26613571,
#chat .cm.emote.id-26613571,

/* killer0wave */
#chat .cm.message.id-27677457,
#chat .cm.emote.id-27677457,

/* Pie */
#chat .cm.message.id-26073729,
#chat .cm.emote.id-26073729 {
    border-left: #2cc4d1 2px dotted !important;
    border-right: #2cc4d1 2px dotted !important;
}

/* Burkes */
#chat .cm.message.id-3703511:hover,
#chat .cm.emote.id-3703511:hover,

/* Kaspae */
#chat .cm.message.id-26613571:hover,
#chat .cm.emote.id-26613571:hover,

/* killer0wave */
#chat .cm.message.id-27677457:hover,
#chat .cm.emote.id-27677457:hover,

/* Pie */
#chat .cm.message.id-26073729:hover,
#chat .cm.emote.id-26073729:hover {
    border-left-style: solid !important;
    border-right-style: solid !important;
}

/* VIP Inline */

/* Burkes */
.emote.id-3703511 .text,

/* Kaspae */
.emote.id-26613571 .text,

/* killer0wave */
.emote.id-27677457 .text,

/* Pie */
.emote.id-26073729 .text {
    color: #2cc4d1 !important;
}
