/* name colours */
#chat .chat-main .isOwner .username,
#chat .chat-main .isOwner .username:hover,
#chat .chat-main .isOwner .username:visited
{
    color: #FF38CB !important;
}

#chat .chat-main .isCo-owner .username,
#chat .chat-main .isCo-owner .username:hover,
#chat .chat-main .isCo-owner .username:visited
{
    color: #FF007F !important;
}

#chat .chat-main .isManager .username,
#chat .chat-main .isManager .username:hover,
#chat .chat-main .isManager .username:visited
{
    color: #D42426 !important;
}

#chat .chat-main .isMod .username,
#chat .chat-main .isMod .username:hover,
#chat .chat-main .isMod .username:visited
{
    color: #3C8D0D !important;
}

#chat .chat-main .isResident-dj .username,
#chat .chat-main .isResident-dj .username:hover,
#chat .chat-main .isResident-dj .username:visited
{
    color: #4bb110 !important;
}

/* badges */
#chat .chat-main .isOwner .username::before
{
    content:       url(https://nightbloo.github.io/plug/icons/hostpink.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}

#chat .chat-main .isCo-owner .username::before
{
    content:       url(https://nightbloo.github.io/plug/icons/hostpink.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}

#chat .chat-main .isManager .username::before
{
    content:       url(https://nightbloo.github.io/plug/icons/Manager2.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}

#chat .chat-main .isMod .username::before
{
    content:       url(https://nightbloo.github.io/plug/icons/bouncer.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}

#chat .chat-main .isResident-dj .username::before
{
    content:       url(https://nightbloo.github.io/plug/icons/hohoho.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}

#chat .chat-main .user-56216481426d191300e5bfef .username::before
{
    content:       url(https://nightbloo.github.io/plug/icons/bot.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}

#chat .chat-main .user-56005297239f1303009c88c5 .username::before{
    content:       url(https://nightbloo.github.io/plug/icons/akali.png);
    position:      relative;
    top:           4px;
    padding-right: 2px;
}
#chat .chat-main .user-56005297239f1303009c88c5 .username{
    color: #4dc9ff !important;
}



/* Emote sizes */
#chat .twitch-emoji.emoji
{
    max-width:  none !important;
    max-height: 28px !important;
    width:      auto !important;
    height:     auto !important;
}

/* me command fix */
#chat .chat-container .chat-messages .chat-main li.system-error { text-transform: uppercase; }
#chat .chat-main li[class*='system']{
    color: darkturquoise !important;
    text-align: center;
    border-top: darkturquoise 1px solid !important;
    border-bottom: darkturquoise 1px solid !important;
}

#chat > div.chat-container > div.chat-messages.ps-container  ul  div.stream-item-content::before{
    content: "";
    position:      absolute;
    top:           0px;
    left: -0.30rem;
    width: 3rem;
    height: 2.5rem;
    background-image: url(https://nightbloo.github.io/dubtrack/specials/hohoho.png);
    background-size: 3rem 2.5rem;
    z-index: 1;
    pointer-events: none;
}

#autocomplete-preview{
    z-index: 2;
}