/* User indication */
/* User indication */
#chat .chat-container ul.chat-main li.current-chat-user .activity-row .text p a.username
{
    color: gold !important;
}

/* Transparancies */
#player-controller .left
{
    background-color: rgba(0, 0, 0, 0.4) !important;
}
#player-controller > div.left > ul > li.infoContainer.display-block{
    background-color: rgba(0, 0, 0, 0.4) !important;
}

#player-controller .right ul li a.dubup.voted{
   background-color: rgba(0, 255, 255, 0.4);
}

#player-controller .right ul li a.dubdown.voted{
   background-color: rgba(255, 0, 255, 0.4);
}

#player-controller > div.right{
    background: none;
    background-color: rgba(68, 68, 68, 0.2);
}

#player-controller
{
    background: none !important;
}

#header-global
{
    background-color: rgba(0, 0, 0, 0.8);
}

/* name colours */
#chat .chat-main .isOwner .username, 
#chat .chat-main .isOwner .username:hover, 
#chat .chat-main .isOwner .username:visited{
    color: #FF38CB !important;
}

#chat .chat-main .isCo-owner .username, 
#chat .chat-main .isCo-owner .username:hover, 
#chat .chat-main .isCo-owner .username:visited{
    color: #FF007F !important;
}

#chat .chat-main .isManager .username, 
#chat .chat-main .isManager .username:hover, 
#chat .chat-main .isManager .username:visited{
    color: #3083FF !important;
}

#chat .chat-main .isMod .username, 
#chat .chat-main .isMod .username:hover, 
#chat .chat-main .isMod .username:visited{
    color: #3083FF !important;
}

#chat .chat-main .isResident-dj .username, 
#chat .chat-main .isResident-dj .username:hover, 
#chat .chat-main .isResident-dj .username:visited{
    color: #33CCFF !important;
}

/* badges */
#chat .chat-main .isOwner .username:before{
    content: url(https://nightbloo.github.io/plug/icons/hostpink.png);
    position: relative;
    top: 4px;
    padding-right: 2px;
}

#chat .chat-main .isCo-owner .username:before{
    content: url(https://nightbloo.github.io/plug/icons/hostrose.png);
    position: relative;
    top: 4px;
    padding-right: 2px;
}

#chat .chat-main .isManager .username:before{
    content: url(https://nightbloo.github.io/plug/icons/manager.png);
    position: relative;
    top: 4px;
    padding-right: 2px;
}

#chat .chat-main .isMod .username:before{
    content: url(https://nightbloo.github.io/plug/icons/bouncer.png);
    position: relative;
    top: 4px;
    padding-right: 2px;
}

#chat .chat-main .isResident-dj .username:before{
    content: url(https://nightbloo.github.io/plug/icons/rdj.png);
    position: relative;
    top: 4px;
    padding-right: 2px;
}