/* name colours */
.creator .username {
    color: #FF38CB !important;
}

.co-owner .username {
    color: #FF007F !important;
}

.manager .username {
    color: #3083FF !important;
}

.mod .username {
    color: #3083FF !important;
}

.vip .username {
    color: #29A3A3 !important;
}

.resident-dj .username {
    color: #33CCFF !important;
}

/* badges */
.creator span.user-role-icon {
    background-image: url(https://nightbloo.github.io/plug/icons/hostpink.png) !important;
    display: inline-block !important;
}

.co-owner span.user-role-icon {
    background-image: url(https://nightbloo.github.io/plug/icons/hostpink.png) !important;
    display: inline-block !important;
}

.manager span.user-role-icon {
    background-image: url(https://nightbloo.github.io/plug/icons/manager.png) !important;
    display: inline-block !important;
}

.mod span.user-role-icon {
    background-image: url(https://nightbloo.github.io/plug/icons/bouncer.png) !important;
    display: inline-block !important;
}

.vip span.user-role-icon {
    background-image: url(https://nightbloo.github.io/plug/icons/vip.png) !important;
    display: inline-block !important;
}

.resident-dj span.user-role-icon {
    background-image: url(https://nightbloo.github.io/plug/icons/rdj.png) !important;
    display: inline-block !important;
}

#chat .chat-main .user-56005297239f1303009c88c5 .username {
    color: #4dc9ff !important;
}

/* Emote sizes */
#chat .emoji {
    max-width: none !important;
    max-height: 28px !important;
    width: auto !important;
    height: auto !important;
}

/* me command fix */
#chat .chat-container .chat-messages .chat-main li.system-error {
    text-transform: uppercase;
}

#chat .chat-main li[class*='system'] {
    color: darkturquoise !important;
    text-align: center;
    border-top: darkturquoise 1px solid !important;
    border-bottom: darkturquoise 1px solid !important;
}
