/* 
 * Text formats 
 * This looks a little better to me
 */
#chat .chat-main .username
{
    opacity:   0.7;
    font-size: 90% !important;
    z-index:   0;
}

/* Let's make the text not so spacey */
#chat .chat-main .activity-row p
{
    line-height: 1.2;
}

/*
 * This makes sure that emotes on the last p don't get cut off by giving
 * them a little space to live
 */
#chat .chat-main .activity-row p:last-child
{
    padding-bottom: 0.5em !important;
}

/* So yea the image was a little too close to the top of the message */
#chat .chat-main .image_row
{
    top: 0.25em !important;
}

/* Move the time info to the top right */
#chat .chat-main .meta-info
{
    position: absolute;
    top:      1.5em !important;
    right:    2em !important;
    left:     initial !important;
    width:    20em !important;
    z-index:  -1;
}

/* Got to be able to delete chat you know */
#chat .chat-main li .chatDelete
{
    top:     0.5em !important;
    right:   1em !important;
    z-index: 1;
}

/* So yea formatting is a fun thing */
#chat .chat-main .chat-me-command-joined p.deleted
{
    -webkit-margin-after: 0 !important;
}

/* Clearn up the space that the time info used before */
#chat .chat-main li:not(.user-1)
{
    padding-bottom: 0 !important;
}

/* So this thing has different formatting than everything else */
.user-1
{
    padding-bottom: 0.2em !important;
}

/* Them /me commands take up so much v space */
.chat-me-command-joined
{
    min-height: initial !important;
}

/* That little bit of space at the bottom of the chat window was killing me */
#chat .chat-main
{
    padding-bottom: 0 !important;
}

/* idk why but I like to be able to see that bottom bar when in the browser */
@media screen and (min-width: 72em)
{
    #browser.animate
    {
        bottom: 56px;
        bottom: 3.5rem;
    }
}

/* So that other change makes the browser stick it's head in to the top bar let's cut it down a bit */
@media screen and (min-width: 72em)
{
    #browser
    {
        padding-top: 1224px !important;
        padding-top: 8.5rem !important;
    }
}

/* Let's have some light on our sweet backgrounds and stuff */
#browser .browser-content,
#player-controller,
#header-global,
#main-menu-left,
#main-menu-right,
#mobile-room-menu
{
    opacity: .9;
}

/* idk maybe someone will want to see that background even more */
.player_container
{
    opacity: 0.95;
}

/* So this was adding an extra line it seems */
#emoji-preview
{
    border-bottom: none !important;
}

/* The next two are just a small test to see if anyone even notices */
@media screen and (min-width: 72em)
{
    #player-controller .right ul li a
    {
        padding-right: 0.5em !important;
    }
}

@media screen and (min-width: 72em)
{
    #player-controller .left
    {
        padding-right: 18.5rem !important;
    }
}

/*
 * Role styles
 * A bit of formatting for role stuffs
 */
#chat .chat-main .isResident-dj .username::before,
#chat .chat-main .isVip .username::before,
#chat .chat-main .isMod .username::before,
#chat .chat-main .isManager .username::before,
#chat .chat-main .isCo-owner .username::before,
#chat .chat-main .isAdmin .username::before
{
    font-size:     .75em;
    margin-right:  3px;
    text-align:    center;
    padding:       0 3px;
    color:         white;
    border-radius: 15%;
}

#chat .chat-main .isResident-dj .username:hover::before,
#chat .chat-main .isVip .username:hover::before,
#chat .chat-main .isMod .username:hover::before,
#chat .chat-main .isManager .username:hover::before,
#chat .chat-main .isCo-owner .username:hover::before,
#chat .chat-main .isAdmin .username:hover::before
{
    border-radius: 40%;
}

#chat .chat-main li:not(.chat-welcome-message)
{
    border-top: rgba(0, 0, 0, 0.2) 1px dotted;
}

#chat .chat-main li:not(.chat-welcome-message):hover
{
    border-top-style: solid;
}

/* Resident DJ */
#chat .chat-main .isResident-dj .username::before
{
    content:    "R";
    background: rgba(93, 93, 93, 0.5);
}

#chat .chat-main .isResident-dj .username:hover::before
{
    content: "Resident DJ";
}

#chat .chat-container .isResident-dj .username,
#chat .chat-container .isResident-dj .username:hover,
#chat .chat-container .isResident-dj .username:visited
{
    color: #33CCFF !important;
}

#chat .chat-main li.isResident-dj
{
    border-top-color: rgba(93, 93, 93, 0.2);
}

/* VIP */
#chat .chat-main .isVip .username::before
{
    content:    "V";
    background: rgba(136, 93, 0, 0.5);
}

#chat .chat-main .isVip .username:hover::before
{
    content: "VIP";
}

#chat .chat-container .isVip .username,
#chat .chat-container .isVip .username:hover,
#chat .chat-container .isVip .username:visited
{
    color: #FF8800 !important;
}

#chat .chat-main .isVip
{
    border-top-color: rgba(136, 93, 0, 0.2);
}

/* Mod */
#chat .chat-main .isMod .username::before
{
    content:    "M";
    background: rgba(139, 0, 139, 0.5);
}

#chat .chat-main .isMod .username:hover::before
{
    content: "Mod";
}

#chat .chat-container .isMod .username,
#chat .chat-container .isMod .username:hover,
#chat .chat-container .isMod .username:visited
{
    color: #DF5E5E !important;
}

#chat .chat-main .isMod
{
    border-top-color: rgba(139, 0, 139, 0.2);
}

/* Manager */
#chat .chat-main .isManager .username::before
{
    content:    "Ma";
    background: rgba(88, 0, 88, 0.5);
}

#chat .chat-main .isManager .username:hover::before
{
    content: "Manager";
}

#chat .chat-main .isManager .username,
#chat .chat-main .isManager .username:hover,
#chat .chat-main .isManager .username:visited
{
    color: #D11919 !important;
}

#chat .chat-main .isManager
{
    border-top-color: rgba(88, 0, 88, 0.2);
}

/* Owner */
#chat .chat-main .isCo-owner .username::before
{
    content:    "O";
    background: rgba(255, 0, 126, 0.5);
}

#chat .chat-main .isCo-owner .username:hover::before
{
    content: "Owner";
}

#chat .chat-main .isManager
{
    border-top-color: rgba(255, 0, 126, 0.2);
}
